@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --muted-foreground: 225 32% 72%;
    }

    .dark :root {
        --muted-foreground: 226 21% 46%;
    }
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
}
