@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --muted-foreground: 226 22% 47%;
        --error-foreground: 0 91% 71%;
        --secondary-foreground: 217 19% 27%;
        --primary-foreground: 230 53% 23%;
    }

    .dark {
        --muted-foreground: 225 32% 73%;
        --primary-foreground: 210 20% 98%;
    }
}

html,
body,
#__next {
    height: 100%;
    width: 100%;
}
