version: '3'
services:
  redis:
    image: redis
    ports:
      - '6379:6379'
  db:
    image: postgres:16.4
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: chat
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  serverless-redis-http:
    ports:
      - '8079:80'
    image: hiett/serverless-redis-http:latest
    environment:
      SRH_MODE: env
      SRH_TOKEN: example_token
      SRH_CONNECTION_STRING: 'redis://redis:6379'
volumes:
  pgdata: